<section class="areas js-reveal-block">
    <div class="areas__bg">
        <picture>
            <source srcset="/areas-mobile.webp" media="(max-width: 640px)" />
            <img src="/areas-desktop.webp" alt="MDN" class="areas__image" />
        </picture>
    </div>
    <div class="areas__content">
        <h2 class="areas__heading">
            EXCELLENCE
            OUR AREAS&nbsp;<i>of</i>

        </h2>
        <div class="areas__slider js-areas-slider">
            <div class="swiper">
                <ol class="swiper-wrapper areas__list">
                    <li class="swiper-slide areas__list-item">
                        <div class="areas__card">
                            <h3 class="areas__card-heading">
                                Tailored Financing Support
                            </h3>
                            <div class="areas__card-text">
                                <p>
                                    We devise catered solutions to your financial requirements utilizing our connections
                                    to
                                    provide you with capital, investments, and off take agreements.
                                </p>

                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide areas__list-item">
                        <div class="areas__card">
                            <h3 class="areas__card-heading">
                                Logistics &<br> Shipping
                            </h3>
                            <div class="areas__card-text">
                                <p>
                                    We offer a wide range of end-to-end logistics solutions across:
                                </p>
                                <ul>
                                    <li>
                                        Rail & truck transport;
                                    </li>
                                    <li>
                                        Sea & Air freight;
                                    </li>
                                    <li>
                                        Multimodal solutions.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide areas__list-item">
                        <div class="areas__card">
                            <h3 class="areas__card-heading">
                                Risk Mitigation
                            </h3>
                            <div class="areas__card-text">
                                <p>
                                    We ensure effective risk management
                                </p>
                                <ul>
                                    <li>
                                        On your behalf through;
                                    </li>
                                    <li>
                                        Extensive due diligence;
                                    </li>
                                    <li>
                                        Credit risk assessment & management of counterparties;
                                    </li>
                                    <li>
                                        Insurance provision;
                                    </li>
                                    <li>
                                        Hedging;
                                    </li>
                                    <li>
                                        Price risk management;
                                    </li>
                                    <li>
                                        Currency risk management.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide areas__list-item">
                        <div class="areas__card">
                            <h3 class="areas__card-heading">
                                Market insights, Intelligence and Analytics
                            </h3>
                            <div class="areas__card-text">
                                <p>
                                    We provide you with specialist insights created by our in-house team of dedicated
                                    analysts that provide you with accurate intelligence to guide your operations
                                </p>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>