<div class="contact-form__success">
    <div class="contact-form__success-inner">
        <button class="contact-form__success-close">
            close
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#cross"></use>
            </svg>
        </button>
        <h3 class="contact-form__success-heading">
            your request has<br> been received
        </h3>
        <div class="contact-form__success-text">
            We will get back to you soon
        </div>
        <button class="arrow-link arrow-link--filled-blue contact-form__success-link" type="button">
            <div class="arrow-link__text">
                READ MORE
            </div>
            <div class="arrow-link__arrow">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </div>
        </button>
    </div>
</div>