<section class="contact-form js-contact-form">
    <div class="contact-form__content">
        <div class="contact-form__left-col">
            <h2 class="contact-form__heading">
                Contact<br> form
            </h2>
            <div class="contact-form__text">
                Business expansion is a necessary step towards greater success and potential fulfilment. This requires
                capital and funding, Advaita is proud to be a facilitator of investment and a potential investor.
            </div>

            <div class="contact-form__circles">
                <svg width="31" height="47" viewBox="0 0 31 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle opacity="0.2" cx="15.5" cy="15.5" r="15.5" fill="#FCFCFC" />
                    <circle opacity="0.6" cx="15.5" cy="31.5" r="15.25" stroke="#FCFCFC" stroke-width="0.5"
                        stroke-dasharray="2 2" />
                </svg>
            </div>

        </div>
        <div class="contact-form__right-col">
            <form action="/" method="POST" class="contact-form__form">
                <div class="contact-form__form-fields">
                    <div class="contact-form__form-field">
                        <label class="contact-form__form-label">
                            Interested in
                        </label>
                        <div class="contact-form__form-select js-select" data-required-select="">
                            <button class="contact-form__form-select-btn js-select-btn" type="button">
                                <span class="contact-form__form-select-btn-text js-select-btn-text">
                                    Choose
                                </span>
                                <div class="contact-form__form-select-btn-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </div>
                            </button>
                            <div class="contact-form__form-select-dropdown">
                                <div class="contact-form__form-select-dropdown-inner">
                                    <ul class="contact-form__form-select-dropdown-list">

                                        <li class="contact-form__form-select-dropdown-list-item">
                                            <label class="contact-form__form-select-choice">
                                                <input type="radio" name="interested" value="1"
                                                    class="contact-form__form-select-choice-input" required="">
                                                <span
                                                    class="contact-form__form-select-choice-text js-select-choice-text">
                                                    Copper Cathode
                                                </span>
                                            </label>
                                        </li>
                                        <li class="contact-form__form-select-dropdown-list-item">
                                            <label class="contact-form__form-select-choice">
                                                <input type="radio" name="interested" value="2"
                                                    class="contact-form__form-select-choice-input" required="">
                                                <span
                                                    class="contact-form__form-select-choice-text js-select-choice-text">
                                                    Silver
                                                </span>
                                            </label>
                                        </li>
                                        <li class="contact-form__form-select-dropdown-list-item">
                                            <label class="contact-form__form-select-choice">
                                                <input type="radio" name="interested" value="3"
                                                    class="contact-form__form-select-choice-input" required="">
                                                <span
                                                    class="contact-form__form-select-choice-text js-select-choice-text">
                                                    Lead Dust
                                                </span>
                                            </label>
                                        </li>
                                        <li class="contact-form__form-select-dropdown-list-item">
                                            <label class="contact-form__form-select-choice">
                                                <input type="radio" name="interested" value="4"
                                                    class="contact-form__form-select-choice-input" required="">
                                                <span
                                                    class="contact-form__form-select-choice-text js-select-choice-text">
                                                    Ammonium Perrhenate
                                                </span>
                                            </label>
                                        </li>
                                        <li class="contact-form__form-select-dropdown-list-item">
                                            <label class="contact-form__form-select-choice">
                                                <input type="radio" name="interested" value="5"
                                                    class="contact-form__form-select-choice-input" required="">
                                                <span
                                                    class="contact-form__form-select-choice-text js-select-choice-text">
                                                    Copper Wire Rod
                                                </span>
                                            </label>
                                        </li>
                                        <li class="contact-form__form-select-dropdown-list-item">
                                            <label class="contact-form__form-select-choice">
                                                <input type="radio" name="interested" value="6"
                                                    class="contact-form__form-select-choice-input" required="">
                                                <span
                                                    class="contact-form__form-select-choice-text js-select-choice-text">
                                                    Enamelled Wire
                                                </span>
                                            </label>
                                        </li>
                                        <li class="contact-form__form-select-dropdown-list-item">
                                            <label class="contact-form__form-select-choice">
                                                <input type="radio" name="interested" value="7"
                                                    class="contact-form__form-select-choice-input" required="">
                                                <span
                                                    class="contact-form__form-select-choice-text js-select-choice-text">
                                                    Copper Cathode
                                                </span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact-form__form-field">
                        <input type="text" class="contact-form__form-field-input" placeholder="Company name"
                            name="company" data-alphanumeric="">
                    </div>
                    <div class="contact-form__form-field">
                        <input type="text" class="contact-form__form-field-input" placeholder="Your name" name="name"
                            required="" data-alphanumeric="">
                    </div>
                    <div class="contact-form__form-field">
                        <input type="text" class="contact-form__form-field-input" placeholder="Company adress"
                            name="address" required="">
                    </div>
                    <div class="contact-form__form-field">
                        <input type="email" class="contact-form__form-field-input" placeholder="Email" name="email"
                            required="">
                    </div>
                    <div class="contact-form__form-field">
                        <input type="text" class="contact-form__form-field-input" placeholder="Message" name="message">
                    </div>
                </div>
                <button class="arrow-link arrow-link--filled-white" type="submit">
                    <span class="arrow-link__text">
                        Submit
                    </span>
                    <span class="arrow-link__arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </span>
                </button>
            </form>
        </div>
    </div>

</section>