<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 476 375">
    <defs>
        <style>
            .eq-cell {
                fill: #fff;
                stroke: #abbbfe;
                stroke-dasharray: 0 0 2 2;
                stroke-width: .5px;
            }
        </style>
    </defs>
    <g>
        <rect class="eq-cell" x=".25" y=".25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x=".25" y="20.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x=".25" y="40.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x=".25" y="60.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x=".25" y="80.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x=".25" y="100.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x=".25" y="120.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x=".25" y="140.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x=".25" y="160.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x=".25" y="180.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x=".25" y="200.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x=".25" y="220.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x=".25" y="240.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x=".25" y="260.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x=".25" y="280.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x=".25" y="300.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x=".25" y="320.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x=".25" y="340.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x=".25" y="360.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
    </g>
    <g>
        <rect class="eq-cell" x="122.25" y="120.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="122.25" y="140.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="122.25" y="160.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="122.25" y="180.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="122.25" y="200.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="122.25" y="220.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="122.25" y="240.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="122.25" y="260.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="122.25" y="280.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="122.25" y="300.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="122.25" y="320.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="122.25" y="340.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="122.25" y="360.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
    </g>
    <g>
        <rect class="eq-cell" x="244.25" y="160.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="244.25" y="180.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="244.25" y="200.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="244.25" y="220.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="244.25" y="240.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="244.25" y="260.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="244.25" y="280.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="244.25" y="300.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="244.25" y="320.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="244.25" y="340.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="244.25" y="360.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
    </g>
    <g>
        <rect class="eq-cell" x="366.25" y="160.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="366.25" y="180.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="366.25" y="200.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="366.25" y="220.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="366.25" y="240.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="366.25" y="260.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="366.25" y="280.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="366.25" y="300.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="366.25" y="320.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="366.25" y="340.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
        <rect class="eq-cell" x="366.25" y="360.25" width="109.5" height="14.5" rx="1.75" ry="1.75" />
    </g>
</svg>