<footer class="page-footer">
    <div class="page-footer__content">
        <div class="page-footer__top-row">
            <a href="#" class="page-footer__logo">
                <img src="/logo-dark.svg" alt="Лого" class="page-footer__logo-image" width="40">
            </a>
            <nav class="page-footer__nav">
                <ul class="page-footer__nav-list">
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link" data-text="service">
                            <span class="page-footer__nav-link-text">
                                service
                            </span>
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link" data-text="products">
                            <span class="page-footer__nav-link-text">
                                products
                            </span>
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link" data-text="contacts">
                            <span class="page-footer__nav-link-text">
                                contacts
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="page-footer__address">
                Dubai - United Arab<br> Emirates
            </div>
        </div>
        <div class="page-footer__bottom-row">
            <div class="page-footer__copyright">
                ALL RIGHT RESERVED 2022
            </div>
            <a href="#" class="page-footer__policy">
                Privacy Policy
            </a>
            <div class="page-footer__secondary-copyright">
                2022 © Advaita
            </div>
            <a href="#" class="page-footer__made-by" target="_blank">
                Made by mark weber
            </a>
        </div>
    </div>
</footer>