<header class="page-header {{#if blueHeader}} page-header--blue {{/if}}">
    <div class="page-header__content">
        <a href="#" class="page-header__logo">
            <svg width="14" height="14" aria-hidden="true" class="page-header__logo-image">
                <use xlink:href="#logo"></use>
            </svg>
        </a>
        <div class="page-header__menu">
            <nav class="page-header__nav">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link" data-text="service">
                            <span class="page-header__nav-link-text">
                                service
                            </span>
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link" data-text="products">
                            <span class="page-header__nav-link-text">
                                products
                            </span>
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="/contacts.html" class="page-header__nav-link" data-text="Contacts">
                            <span class="page-header__nav-link-text">
                                Contacts
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="page-header__menu-bottom-wrapper">


                <div class="page-header__contacts">
                    <a href="tel:+97144219449" class="page-header__contacts-link">+971 4 421 9449</a>
                    <a href="mailto:info@advaitatrade.com" class="page-header__contacts-link">info@advaitatrade.com</a>
                </div>
                <div class="page-header__social">
                    <a href="#" class="page-header__social-link" data-text="FB">
                        <span class="page-header__social-link-text">
                            FB
                        </span>
                    </a>
                    <span class="page-header__social-separator">
                        /
                    </span>

                    <a href="#" class="page-header__social-link" data-text="LI">
                        <span class="page-header__social-link-text">
                            LI
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <button class="page-header__burger">
            <span class="page-header__burger-text">
                MENU
            </span>
            <span class="page-header__burger-text">
                close
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#cross"></use>
                </svg>
            </span>
        </button>

    </div>
</header>