<section class="intro js-intro">
    <div class="intro__bg">
        <div class="intro__bg-parallax">
            <picture>
                <source srcset="/intro-mobile.webp" media="(max-width: 640px)" />
                <img src="/intro.webp" alt="" class="intro__bg-image" />
            </picture>
        </div>
    </div>
    <div class="intro__content">
        <div class="intro__text-content">
            <div class="intro__name">
                <div class="intro__name-letter">
                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 208 261'%3E%3Cpath fill='%23fcfcfc' fill-rule='evenodd' d='M0,261H29.6v-72.5H177.6v72.5h29.6V102.18L134.07,0h-60.94L0,102.18v158.82Zm29.6-101.5v-48.17L88.53,29h30.15l58.93,82.33v48.17H29.6Z' /%3E%3C/svg%3E"
                        alt="" class="intro__name-letter-image">
                </div>
                <div class="intro__name-letter">
                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 208 261'%3E%3Cpath fill='%23fcfcfc' fill-rule='evenodd' d='M.65,261H156.05c28.61,0,51.8-22.72,51.8-50.75V50.75c0-28.03-23.19-50.75-51.8-50.75H.65V261Zm29.6-29V29h125.8c12.26,0,22.2,9.74,22.2,21.75V210.25c0,12.01-9.94,21.75-22.2,21.75H30.25Z' /%3E%3C/svg%3E"
                        alt="" class="intro__name-letter-image">
                </div>
                <div class="intro__name-letter">
                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 208 261'%3E%3Cpath fill='%23fcfcfc' fill-rule='evenodd' d='M.27,0H29.86V149.67l58.93,82.33h30.15l58.92-82.33V0h29.6V158.82l-73.13,102.18h-60.94L.27,158.82V0Z' /%3E%3C/svg%3E"
                        alt="" class="intro__name-letter-image">
                </div>
                <div class="intro__name-letter">
                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 208 261'%3E%3Cpath fill='%23fcfcfc' fill-rule='evenodd' d='M0,261H29.6v-72.5H177.6v72.5h29.6V102.18L134.07,0h-60.94L0,102.18v158.82Zm29.6-101.5v-48.17L88.53,29h30.15l58.93,82.33v48.17H29.6Z' /%3E%3C/svg%3E"
                        alt="" class="intro__name-letter-image">
                </div>
                <div class="intro__name-letter">
                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 209 261'%3E%3Cpath fill='%23fcfcfc' d='M208.09,261v-29H119.29V29h88.8V0H.88V29H89.69V232H.88v29H208.09Z' /%3E%3C/svg%3E"
                        alt="" class="intro__name-letter-image">
                </div>
                <div class="intro__name-letter">
                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 208 261'%3E%3Cpath fill='%23fcfcfc' fill-rule='evenodd' d='M89.49,261h29.6V29h88.8V0H.69V29H89.49v232Z' /%3E%3C/svg%3E"
                        alt="" class="intro__name-letter-image">
                </div>
                <div class="intro__name-letter">
                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 208 261'%3E%3Cpath fill='%23fcfcfc' fill-rule='evenodd' d='M0,261H29.6v-72.5H177.6v72.5h29.6V102.18L134.07,0h-60.94L0,102.18v158.82Zm29.6-101.5v-48.17L88.53,29h30.15l58.93,82.33v48.17H29.6Z' /%3E%3C/svg%3E"
                        alt="" class="intro__name-letter-image">
                </div>
            </div>
            <div class="intro__slogan">
                Your Partner in Global Commodity Trading
            </div>
        </div>
        <div class="intro__bottom-row">
            <div class="intro__copyright">
                2022 © Advaita
            </div>
            <div class="intro__contacts">
                <a href="tel:+97144219449" class="intro__contacts-link">t.: +971 4 421 9449</a>
                <a href="mailto:info@advaitatrade.com" class="intro__contacts-link"> m.: info@advaitatrade.com</a>
            </div>
        </div>
    </div>
</section>