<section class="not-found">
    <div class="not-found__bg">
        <picture>
            <source srcset="/not-found-mobile.webp" media="(max-width: 640px)" />
            <img src="/not-found.webp" alt="" class="not-found__bg-image" />
        </picture>
    </div>
    <div class="not-found__content">
        <div class="not-found__text-content">
            <h1 class="not-found__heading">
                page not found <i>404</i>
            </h1>
            <a href="/" class="arrow-link arrow-link--filled-white">
                <span class="arrow-link__text">
                    main page
                </span>
                <span class="arrow-link__arrow">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </span>
            </a>
        </div>
    </div>
</section>