<section class="offices">
    <div class="offices__content">
        <div class="offices__left-col">
            <h2 class="offices__heading">
                Our<br> offices
            </h2>
        </div>
        <div class="offices__right-col">
            <h3 class="offices__secondary-heading">
                Our offices around the world - find the right one for you
            </h3>
            <div class="offices__slider js-offices-slider">
                <div class="swiper">
                    <ul class="swiper-wrapper offices__list">
                        <li class="swiper-slide offices__list-item">
                            <div class="offices__card">
                                <h4 class="offices__card-title">
                                    Urumqi
                                </h4>
                                <div class="offices__card-text">
                                    Room e & F, 18/F Block D. Times Square, 16 hongshan road, urumqi, xinjiang, china
                                    838992
                                    +86 5598 702<br>
                                    office@advaita.trade
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide offices__list-item">
                            <div class="offices__card">
                                <h4 class="offices__card-title">
                                    Kazakhstan
                                </h4>
                                <div class="offices__card-text">
                                    1ST FLOOR, REPUBLIC SQUARE 15, ALMATY, 050013, KAZAKHSTAN
                                    +7 727 344 3071<br>
                                    office@advaita.trade
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide offices__list-item">
                            <div class="offices__card">
                                <h4 class="offices__card-title">
                                    Singapore
                                </h4>
                                <div class="offices__card-text">
                                    65 Chulia Street, OCBC Centre #42-06, Singapore 049513
                                    +65 6438 8995
                                    office@advaita.trade
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide offices__list-item">
                            <div class="offices__card">
                                <h4 class="offices__card-title">
                                    Dubai
                                </h4>
                                <div class="offices__card-text">
                                    Office 3406, Platinum Tower, Cluster I, Jumeirah Lake Towers, Dubai, United Arab
                                    Emirates
                                    336137
                                    +971 4 421 9449
                                    office@advaita.trade
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide offices__list-item">
                            <div class="offices__card">
                                <h4 class="offices__card-title">
                                    Hong Kong
                                </h4>
                                <div class="offices__card-text">
                                    Unit 4706, Central Plaza, Wanchai, Hong Kong
                                    +825 2689 9200
                                    office@advaita.trade
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>