<section class="service-finance">
    <div class="service-finance__content">
        <div class="service-finance__top-row">
            <h2 class="service-finance__heading">
                Structured Finance
                <span class="service-finance__stage">
                    <span class="service-finance__stage-number active">03</span>
                    /
                    <span class="service-finance__stage-number">03</span>
                </span>
            </h2>
            <div class="service-finance__large-text">
                ADVAITA PROVIDES ITS PARTNERS WITH MADE-TO-FIT FINANCING OPPORTUNITIES THAT ENABLE GROWTH AND SUSTAINS
                OPERATIONS, WITH THE GOAL OF CREATING ENDURING AND LONG-LASTING STRATEGIC RELATIONSHIPS WITH OUR
                PARTNERS TO ENABLE THEIR GROWTH.
            </div>
        </div>
        <div class="service-finance__bottom-row">
            <div class="service-finance__equilizer">
                {{> equilizer }}
            </div>

            <div class="service-finance__secondary-info">


                <h2 class="service-finance__secondary-heading">
                    Tailored Financing<br> Solutions
                </h2>
                <div class="service-finance__secondary-text">
                    With the goal of growing our long-term strategic relationships with mining companies, we leverage
                    our
                    network of trusted partners in the banking sector to create tailored and responsible financing
                    solutions. Our teams of dedicated analysts explore opportunities that provide our clients with the
                    best
                    solution available, considering trade, finance processes, and prepayment requirements. We are proud
                    to
                    be an enabler of emerging producers to reach their full potential by providing them utility of our
                    established global network.
                </div>
            </div>
        </div>

    </div>
</section>