<section class="service-intro">
    <div class="service-intro__content">
        <h1 class="service-intro__main-heading">
            service
        </h1>
        <div class="service-intro__top-row">
            <h2 class="service-intro__secondary-heading">
                WHAT MAKES US STAND OUT
            </h2>
            <div class="service-intro__text">
                We excel in creating value through innovative and disruptive methods asross our commodity training and
                logistics business, driving enhanced competitive advantage
                and efficiencies within our operational sectors
            </div>
        </div>
    </div>
</section>