<section class="services js-services">
    <div class="services__bg">
        <picture>
            <source srcset="/services-mobile.webp" media="(max-width: 640px)" />
            <img src="/services.webp" alt="" class="services__bg-image" />
        </picture>
    </div>
    <div class="services__content">
        <div class="services__info">
            <ol class="services__info-list">
                <li class="services__info-list-item">
                    <div class="services__info-card">
                        <h3 class="services__info-card-title">
                            Commodity trading
                        </h3>
                    </div>
                </li>
                <li class="services__info-list-item">
                    <div class="services__info-card">
                        <h3 class="services__info-card-title">
                            Investment Brokerage
                        </h3>
                    </div>
                </li>
                <li class="services__info-list-item">
                    <div class="services__info-card">
                        <h3 class="services__info-card-title">
                            Structured Finance
                        </h3>
                    </div>
                </li>
            </ol>
            <div class="services__info-text">
                We exel in creating value through innovative and disruptive methods across our commodity training and
                logistics business, driving enhanced competitive advantage and efficiencies within our operational
                sectors
            </div>
            <a href="#" class="arrow-link services__info-link">
                <div class="arrow-link__text">
                    READ MORE
                </div>
                <div class="arrow-link__arrow">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </a>
        </div>
        <h2 class="services__heading">
            Core<br> Services
        </h2>
    </div>
</section>