<section class="service-brokerage">
    <div class="service-brokerage__content">

        <div class="service-brokerage__top-row">
            <h2 class="service-brokerage__heading">
                Investment Brokerage
                <span class="service-brokerage__stage">
                    <span class="service-brokerage__stage-number active">02</span>
                    /
                    <span class="service-brokerage__stage-number">03</span>
                </span>
            </h2>
            <div class="service-brokerage__large-text">
                BUSINESS EXPANSION IS A NECESSARY STEP TOWARDS GREATER SUCCESS AND POTENTIAL FULFILMENT. THIS REQUIRES
                CAPITAL AND FUNDING. ADVAITA IS PROUD TO BE A FACILITATOR OF INVESTMENT AND A POTENTIAL INVESTOR.
            </div>
        </div>
        <img src="/candles.svg" alt="" class="service-brokerage__image">
        <div class="service-brokerage__bottom-row">


            <h3 class="service-brokerage__secondary-heading">
                Organized Investment Networks and Solutions
            </h3>
            <div class="service-brokerage__small-text">
                Utilizing our expertise in the market, our network, and our business acumen, we create investment
                opportunities that can facilitate growth for our clients. As experts in the industry, we help bridge the
                gap
                to investment by meticulous analysis of the business requirement and connecting the business with
                investors
                who can provide capital or invest in projects. Advaita is a facilitator of investment and can act as a
                middle man, organizing project finances and liaising with investors on the client's behalf.
            </div>
        </div>

    </div>
</section>