<section class="service-trading">
    <div class="service-trading__content">
        <div class="service-trading__top-row">


            <h2 class="service-trading__heading">
                Commodity trading
                <span class="service-trading__stage">
                    <span class="service-trading__stage-number active">01</span>
                    /
                    <span class="service-trading__stage-number">03</span>
                </span>
            </h2>
            <div class="service-trading__large-text">
                COMMODITY TRADING IS ONE OF OUR FULCRUM SERVICES. SOURCING MATERIALS FROM ACROSS RICH MINERAL MINING
                POINTS
                ACROSS CENTRAL ASIA AND THE AFRICAN CONTINENT, WE CAN PROVIDE TOP-GRADE COMMODITIES AND MINERALS TO FUEL
                YOUR OPERATIONS.
            </div>
        </div>
        <div class="service-trading__bottom-row">

            <div class="service-trading__plane">
                <img src="/plane-map.webp" alt="">
                {{> plane }}
                <div class="service-trading__plane-icon">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#plane"></use>
                    </svg>
                </div>
            </div>
            <div class="service-trading__secondary-info">
                <h3 class="service-trading__secondary-heading">
                    Obtained from the source, at&nbsp;the&nbsp;highest capacity and&nbsp;highest quality
                </h3>
                <div class="service-trading__secondary-text">
                    Forged in Kazakhstan in 2014, and leveraging a senior team with over 20 years of commodity trade,
                    Advaita has grown to a global entity, operating worldwide. Advaita created a strong presence in
                    Kazakhstan and other parts of Asia through successful relationships with leading trading and mining
                    companies in the region which gave it the leverage to expand our trade to wider regions. Advaita now
                    operates on a world scale with branches and partners spreading throughout Asia, Europe, and Africa.
                </div>
            </div>
        </div>
    </div>
</section>