.not-found {
  display: grid;
  grid-template-columns:
    [main-start] 1fr [content-start] minmax(0, var(--container-width, 0))
    [content-end] 1fr [main-end];
  grid-gap: var(--content-padding, 0);
  flex-grow: 1;
  color: white;
  min-height: 100vh;
  @media (--mobile) {
    flex-grow: 0;

    min-height: 100svh;
  }
}

.not-found__bg {
  grid-column-start: main-start;
  grid-column-end: main-end;
  grid-row: 1 / 2;
  position: relative;
  background-color: var(--primary-color);
}

.not-found__bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.not-found__content {
  grid-column-start: content-start;
  grid-column-end: content-end;
  display: flex;
  flex-direction: column;
  padding: 7rem 0;
  grid-row: 1 / 2;
  z-index: 3;

  @media (--mobile) {
    padding: 5rem 0;
  }
}

.not-found__text-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8rem;
  max-width: 65rem;
  @media (--mobile) {
    gap: 5rem;
  }
}

.not-found__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 12rem;
  line-height: 90%;
  font-family: var(--supply);
  text-transform: uppercase;
  & i {
    font-style: normal;
    font-weight: 400;
    font-size: 2.2rem;
    vertical-align: top;
    text-transform: uppercase;
    line-height: 130%;
    margin-top: 0.4em;
    margin-left: -3em;
    display: inline-block;
  }

  @media (--mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 100%;
    & i {
      font-style: normal;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 130%;
      margin-left: -1.5em;
    }
  }
}
